body {
  margin: 0px;
  background-color: pink;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 2rem;
  color: 		#505050;
}



h1,h2,h3,h4 {
  font-family: 'Rock Salt', cursive;
}
h1{
  color: white;
  font-size: 2.5rem;
}
h2{
  color: #007E8B;
  font-size: 2rem;

}
h3{
  color: #7f007f;
  font-size: 1.5rem;
}
a{
  color: #7f007f;
  margin: 0 3% 0 3%;
  text-decoration: none;
  font-size: 1.5rem;
}
a:hover{
  color: white;
}

hr{
  color: #007E8B;
  border: dotted 10px;
  border-bottom: none;
  width: 10%;
  margin: 2% auto;

}

.copy-right{
  color:white;
  font-size: 1rem;
}


.debbie-profile-image{
  width:20%;
}

.ballet-image{
  width:20%;
  float: right;
  margin-left: 30px;

}
  .skills-image{
    width:20%;
    float: left;
    margin-right: 30px;
  }

.pro {
  color: white;
}

.intro, .contact-message{
  width: 50%;
  margin: auto;
}

.top-container {
  background-color: #FC91AF;
  position: relative;
  padding-top: 100px;
}

.middle-container {
background-color: #81D8D0;
/*background-color:#9FEAE3;*/
padding-top: 5%;
padding-bottom: 5%;
}

.bottom-container {

    background-color: #FC91AF;
  padding-top: 3%;
  position: relative;
  padding-bottom: 3%;
}

.new-mountain {
  width: 600px;
  height: 400px;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 300px;
}
.skill-row{
  width:50%;
  margin: 7% auto 7% auto;
  text-align: justify;
}

.btn {
  background: #7f007f;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-top: 2%
}

.btn:hover {
  background: #505050;
  text-decoration: none;
}

.kitty{
  width: 7%;
  position: fixed;
  top: 80%;
}

.first-kitty{
  right:8%;

}
.second-kitty{
left:8%;
}
